
.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    cursor: default;
    padding-left: 8px;
}
.select2-selection__choice{
    background-color: #0c525d!important;
}

.select2-search__field {
    width: 100px!important;
    height: 25px!important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: red !important;
    float: right;
    margin-left: 5px;
    margin-right: -2px;
}



.alert-danger {
    margin-top: 5px;
    padding: 3px 5px;
}
.image_detail_product, .feature_image {
    width: 100%;
    height: 130px;
    object-fit: cover;
}
